

<!DOCTYPE html>
<html>
	<title>Ariel Super Admin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	.grab {cursor: -webkit-grab; cursor: grab;}
	</style>
	<body class="w3-light-grey" style="color: white;">
		<div class="w3-container" style="background-color: black;color: white;">
			
			<div id="id01" class="w3-modal" style="display: block;">
				<div class="w3-modal-content" style="width: 263px;height: 69px;background-color: black;color: chartreuse;margin-top: 202px;">
				  <div class="w3-container">
				  	
				    <div class="w3-row">
				    	<p id="id01_container">
				    		Authentication Successfull 
				    		<a href="/returnContactDataset">Return To Dashboard</a>
				    	</p>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="{{url_for('static', filename="js/app.js")}}"></script>
</html>